<nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="true"
          [nzScroll]="{y:'350px'}">
  <thead>
  <tr>
    <th>学号</th>
    <th>姓名</th>
    <th>班级</th>
    <th>课程成绩</th>
    <th>科研成果</th>
    <th>科创竞赛</th>
    <th>社会活动</th>
    <th>民主评议</th>
    <th>总成绩</th>
    <th>奖学金等级</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.student_number }}</td>
    <td>{{ data.student_name }}</td>
    <td>{{ data.class_name }}</td>
    <td>{{ data.score }}</td>
    <td>{{ data.study }}</td>
    <td>{{ data.competition }}</td>
    <td>{{ data.society }}</td>
    <td>{{data.democracy}}</td>
    <td>{{data.total}}</td>
    <td>{{data.scholarship}}</td>
  </tr>
  </tbody>
</nz-table>


