
<form style="margin-bottom: 8px;" nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
  <nz-form-item>
    <nz-upload [(nzFileList)]="fileList" [nzLimit]='1' [nzMultiple]="true" [nzBeforeUpload]="beforeUpload">
      <button nz-button>
        <i nz-icon nzType="upload"></i>
        <span>上传成绩</span>
      </button>
    </nz-upload>
  </nz-form-item>
</form>
<nz-table #basicTable [nzData]="ListOfData" [nzShowPagination]="true"
          [nzPageSize]="5"
          [nzScroll]="{y:'350px'}">
  <thead>
  <tr>
    <th>课程名称</th>
    <th>任课老师</th>
    <th>学分</th>
    <th>学号</th>
    <th>姓名</th>
    <th>成绩</th>
    <th nzWidth="60px">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.course }}</td>
    <td>{{ data.teacher }}</td>
    <td>{{ data.credit }}</td>
    <td>{{ data.student_number }}</td>
    <td>{{ data.student_name }}</td>
    <td>{{ data.score }}</td>
    <td>
      <a (click)="deleteScore(data.id)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>

