<nz-table #editRowTable nzBordered [nzData]="listOfData" [nzPageSize]="4">
  <thead>
  <tr>
    <th>学号</th>
    <th>材料附件</th>
    <th>科研成果</th>
    <th>科创竞赛</th>
    <th>社会活动</th>
    <th>审核状态</th>
    <th>审核</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of editRowTable.data" class="editable-row">
    <td>{{ data.userId }}</td>
    <td><a [href]="data.href">{{ data.fileName }}</a></td>
    <td>{{ data.study }}</td>
    <td>{{ data.competition }}</td>
    <td>{{ data.society }}</td>
    <td>{{ data.status === 1 ? '待审核' : data.status === 3 ? '审核不通过' : '审核通过' }}</td>
    <td>
      <a (click)="changeActivityStatus(data, 2)" *ngIf="data.status === 1">通过</a>
      |
      <a (click)="changeActivityStatus(data, 3)" *ngIf="data.status === 1">不通过</a>
    </td>
    <!--
    <td>
      <div class="editable-cell" [hidden]="editId === data.userId" (click)="startEdit(data.userId)">
        {{ data.description }}
      </div>
      <input [hidden]="editId !== data.userId" type="text" nz-input [(ngModel)]="data.description" (blur)="stopEdit(data.description)" />
    </td>
    -->
  </tr>
  </tbody>
</nz-table>
