<nz-table #editRowTable nzBordered [nzData]="user">
  <thead>
  <tr>
    <th>学号</th>
    <th>姓名</th>
    <th>密码</th>
    <th>班级</th>
    <th>专业</th>
    <th>硕士类别</th>
    <th>奖学金等级</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ user.userId }}</td>
    <td>{{ user.name }}</td>
    <td>
      <div class="editable-cell" [hidden]="editId === user.userId" (click)="startEdit(user.userId)">
        {{ user.password }}
      </div>
      <input [hidden]="editId !== user.userId" type="text" nz-input [(ngModel)]="user.password" (blur)="stopEdit(user.password)" />
    </td>
    <td>{{ user.class_name }}</td>
    <td>{{ user.major }}</td>
    <td>{{ user.master }}</td>
    <td>{{ user.scholarship }}</td>
  </tr>
  </tbody>
</nz-table>

<!--
<p>{{user.class_name}}</p>
<nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="true"
          [nzScroll]="{y:'350px'}">
  <thead>
  <tr>
    <th>学号</th>
    <th>姓名</th>
    <th>密码</th>
    <th>班级</th>
    <th>专业</th>
    <th>硕士类别</th>
    <th>奖学金等级</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.userId }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.password }}</td>
    <td>{{ data.class_name }}</td>
    <td>{{ data.major }}</td>
    <td>{{ data.master }}</td>
    <td>{{ data.scholarship }}</td>
  </tr>
  </tbody>
</nz-table>
-->
